.container1{
    margin-top: 10%;
    align-items: center;
    margin-left: 30%;
}
.alumniCard{
    /* background: black; */

    background: url("../../Image/alcabi1.jpg") no-repeat ;
    Width: 40vw;
    Height: 50vh;
    /* Top: 364.08px; */
    /* Left: 344.66px; */
    /* Radius: 5.46px;
    margin-top: 6%;
    Opacity: 69%; */
}

.appleImg img{
    position: relative;
    margin-top: -110%;
    height: 3rem;
    align-items: center;
    margin-left: 45%;

}
.infoAlumni{
    text-align: center;
    margin-top: -50%;
    color: white;
    position: relative;

}
.alumniprofile{
    /* border: 2px solid black; */
    border-radius: 132px;
    height: 27%;
    width: 18%;
    margin-top: 3%;
    margin-left: 40%;
    align-items: center;
}
.alumniprofile img{
    align-items: center;
    position: relative;
    height: 16vh;
    width: 7vw;
}


.alumni_overlay{
    width: 40vw;
    height: 50vh;
    background: #1D9C9C;
    opacity: .9;
}


.alumniName{
    color: white;
    position: relative;
    margin-left: 42%;
}

@media only screen and (min-width: 300px) and (max-width: 896px) {
    .alumniCard{
        width: 85vw;
        height: 50vh;
        margin-left: -30%;
    }
    .alumni_overlay{
        width: 85vw;
    }
    .appleImg img{
        margin-bottom: 105%;
    }
    .infoAlumni{
        margin-top: -90%;
    }
    .alumniprofile img{
        width: 29vw;
        margin-left: -190;
    }
}