
.InfoAlumni__section{
    background-color: blanchedalmond;
    /* text-align: center; */
    /* margin-left: 30%; */
    height: 15rem;
}
.heading__name{
    margin-left: 30%;
}
.img__infoAlumni img{
    border: 2px solid black;
    border-radius: 52px;
    width: 5rem;
    height: 4rem;
    margin-left: 19%;
    margin-top: 0%;
}
.img__name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.img__infoAlumni{
    height: 0rem;
    width: 0rem;
    margin-left: 18%;
    margin-top: 4%;
}
.work__experience{
    display: flex;
    flex-wrap: wrap;
    width: 66rem;
    margin-left: 16%;
    margin-top: 1%;

}
.contactlist{
    margin-top: 6%;
    margin-left: -10%;
}

@media only screen and (min-width: 300px) and (max-width: 896px) {
    p{
        width: 35%;
        text-align: justify;
        margin-top: 4%;
        margin-left: -21%;
    }

    .img__infoAlumni img{
        margin-left: 6rem;
    }

    .heading__name{
        margin-top: 25%;
    }
    .heading__name h2,h5{
        margin-left: 8%;
    }
    .work__experience1 h2{
        margin-left: 10%;
    }
}