.thought_heading{
    margin-left: 2%;
    margin-top: 1%;
    color: #C8B616;
    margin-top: 70px;
    font-weight: 700;
}

.thought__section{
    display: flex;
    flex-wrap: wrap;
}

.thought__para p{
    margin-left: 3%;
    font-size: 2em;
    margin-top: 2%;
}

.thought__button button{
    text-decoration: none;
    background-color: #0F2027;
    color: white;
    font-weight: 700;
    font-size: 33px;
    margin-top: 22%;
    background: linear-gradient(180deg, #0F2027 0%, #0F2027 0.01%, #203A43 46.35%, #2C5364 100%);
    box-shadow: 5.40359px 5.40359px 12.1581px rgba(0, 0, 0, 0.25);
    border-radius: 34.0752px;
    border: none;
    width: 300px;
    height: 79px;
    
}

.thought__button{
    margin-left: 3%;
    margin-top: -2%;
}


@media only screen and (max-width: 992px){


    .thought_heading{
        text-align: center;
    }

    .thought__button{
        padding-left: 27%;
    }

    .thought__button button{
        margin-top: 11%;
    }
}