.vision__section h2{
    text-align: center;
    margin-top: 3%;
}   


.vision__para{
    background:  #0B7483;
    width: auto;
    color: white;
    
}

.vision__para p{
    padding: 7%;
    font-size: 2rem;
    text-align: justify;
}