.h-primary{
    color: #ffffff;
    position: relative;
    top: 156px;
    right: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 100;
    font-size: 82.031px;
    line-height: 42px;
    /* position: absolute;
width: 3541px;
height: 505.43px;
left: 213px;
top: 1013px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 218.031px;
line-height: 266px; */
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 750px;
    /* justify-content: center;
    align-items: center; */

}
#home::before{
    content: "";
    background: url("Image/hb.png") no-repeat center center/cover; 
    position:absolute;
    top: 0px;
    left: 0px;
    height: 95%;
    width: 100%;
    z-index: -1;
    opacity: .89;
    margin-bottom: 0px;
}

/* #home{
    background: url("Image/hb.png") no-repeat center center/cover;
    height: 103vh;
    width: 100%;
    z-index: -1;
    opacity: .89;
    
} */
/* #home p{
    color: #ffffff;
    position: relative;
    top: 184px;
    right: 114px;
    font-size: 35px;
    background-color: black;
    background: #393939;
    opacity: 0.79;
    width: 1307px;
} */
.hsign{
    position: relative;
    top: 243px;
    right: 40px;
    background: #15535B;
    color: #ffffff;
    border-color: #15535B;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
}
.pcontain{
    border: 2px #393939 solid;
    opacity: 0.79;
    position: relative;
    top: 184px;
    right: 114px;
    background:#393939;
    width: 1307px;
}
.pcontain p{
    color: #ffffff;
    font-size: 35px;
    position: relative;
    left: 68px;
}

.para{
    /* border: 2px rgb(255, 255, 255) solid; */
    color: #000000;
    position: relative;
    width: 917px;
    height: 171px;
    left: 157px;
    top: 2px;
}
.para p{
    position: relative;
    left: 60px;
    top: 2px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    text-align: left;
}
.homeflex{
    border: 2px rgb(255, 255, 255) solid;
    width: 1300px;
    position: relative;
    top: 150px;
    left: 220px;
}
.homeflex h2{
    font-weight: bold;
}
.homeflex p{
    font-weight:light;
    font-size:18px;
}

.homeflex .flex2{
    /* text-align: right; */
    position: relative;
    left: 600px;
}

.slider{
    border: 2px black solid;
    background-color: #1c0a33;
    position: relative;
    color: #FFFFFF;
    top: 130px;
    left: 68px;
    width: 1400px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
}
.firstslide h2{
    text-align: center;
    position: relative;
    top: 15px;
}
.firstalumina h3{
    position: relative;
    left: 889px;
    top: 15px;
    color: #FFFFFF;
}
.firstalumina h5{
    position: relative;
    left: 987px;
    top: 10px;
    color: #FFFFFF;
}
.firstslideimg1{
    border: 2px white solid;
    border-radius: 100%;
    background-color: #FFFFFF;
    height: 107px;
    width: 113px;
    position: absolute;
    top: 158px;
    left: 1117px;
}

.firstslideimg1 img{
    /* border: 2px black solid;
    background-color: #000000; */
    height: 76px;
    width: 117px;
    position: absolute;
    top: 16px;
    left: -8px;
}

.secondalumina h3{
    position: relative;
    left: 386px;
    color: #FFFFFF;
    bottom: 274px;
}
.secondalumina h5{
    position: relative;
    left: 387px;
    color: #FFFFFF;
    bottom: 277px;
}
.firstslideimg2{
    border: 2px white solid;
    border-radius: 100%;
    background-color: #FFFFFF;
    height: 107px;
    width: 113px;
    position: absolute;
    top: 357px;
    left: 238px;
}
.firstslideimg2 img{
    /* border: 2px black solid;
    background-color: #000000; */
    height: 78px;
    width: 102px;
    position: absolute;
    top: 12px;
    left: 3px;
    border-radius: 44px;
}


/* slider  */

/* .slider1{
    height: 400px;
    width: 700px;
    overflow: hidden;
} */


.slider .slider1{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    height: 46px;
    width: 46px;
    cursor: pointer;
}

.slider .slider2{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    height: 46px;
    width: 46px;
    cursor: pointer;
}
.slider span{
    font-size: 35px;
    color: white;
    line-height: 41px;
}

.slider .right{
    right: 20px;
}

.w-100 {
    width: 100%!important;
    position: relative;
    top: 118px;
    height: 600px;
}
#carousel{
    /* align-items: center; */
    /* width: 300px; */
    position: relative;
    top: 131px;
    left: 17px;
    /* right: 10px; */
    width: 1487px;
    height: 600px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(20, 20, 57);
}
.carouse_heading{
    text-align: center;
    position: relative;
    top: 30px;
    color: white;
}
/* .carousel-indicators .active {
    opacity: 1;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 22px;
    height: 12px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
} */
.carousel .carousel-indicators button {
    border-radius: 50%;
    width: 22px;
    height: 12px;
    carousel-indicator-width : 10px;
    carousel-indicator-height: 10px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 39px;
    width: 91px;
    outline: rgb(255, 255, 255);
    /* background-color: rgba(245, 245, 245, 0.3); */
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 0px solid rgb(246, 246, 246);
}


/* .carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    position: relative;
    top: 221px;
} */
/* .slide-h2{
    text-align: center;
    position:relative;
    top: 20px;
} */


/* .w-100{
    position:relative;
    top: 20px;
    width: 21px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}
.slider.carousel.carousel-inner.carousel-item h3{
    position:fixed;
    top: 5px;
}
.firstslide h2{
    position:relative;
    left: 20px;
    top: 50px;
} */

/* .slider{
    background-color:  #1b0b32;
    width: 90%!important;
    height: 900px;
    position: relative;
    top: 140px;
    left: 88px;
    border-radius: 20px;
    
} */
