

.h-primary{
    color: #ffffff;
    position: relative;
    top: 29%;
    left: 11%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    font-weight: 100;
    font-size: 7vw;
    line-height: 62px;
    /* position: absolute;
width: 3541px;
height: 505.43px;
left: 213px;
top: 1013px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 218.031px;
line-height: 266px; */
}
#home{
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    height: 74vh;
    /* justify-content: center;
    align-items: center; */

}

.AmityLogo_HomePage{
    height: 96px;
    width: 107px;
    margin-top: 6%;
}


#home::before{
    content: "";
    background: url("Image/hb.png") no-repeat center center/cover; 
    position:absolute;
    top: 0px;
    left: 0px;
    height: 95%;
    width: 100%;
    z-index: -1;
    opacity: .89;
    margin-bottom: 0px;
}

/* #home{
    background: url("Image/hb.png") no-repeat center center/cover;
    height: 103vh;
    width: 100%;
    z-index: -1;
    opacity: .89;
    
} */
/* #home p{
    color: #ffffff;
    position: relative;
    top: 184px;
    right: 114px;
    font-size: 35px;
    background-color: black;
    background: #393939;
    opacity: 0.79;
    width: 1307px;
} */
.hsign{
    position: relative;
    top: -2rem;
    right: 1%;
    background: #15535B;
    color: #ffffff;
    border-color: #15535B;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
}
.pcontain{
    border: 2px #393939 solid;
    opacity: 0.79;
    /* position: relative;
    top: 184px;
    right: 114px; */
    background:#393939;
    margin-left: -9%;
    margin-top: 15%;
    width: 100%;
}
.AmityName{
    color: white;
    margin-left: 11%;
}
.pcontain p{
    color: #ffffff;
    font-size: 35px;
    margin-left: 7%;
    margin-top: -14%;
}

.para{
    /* border: 2px rgb(255, 255, 255) solid; */
    color: #000000;
    width: 100%;
    height: fit-content;
    margin-left: 5%;
    margin-top: 4%;
}

.para p{
    margin-top: 7rem;
    font-size: 5rem;
    margin-left: 5.5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    line-height: 5rem;
    text-align: left;
}
.homeflex{
    border: 2px rgb(255, 255, 255) solid;
    width: 100%;
    margin-top: 4%;
    margin-left: 11%;

}
.homeflex h2{
    font-weight: bold;
}
.homeflex p{
    font-weight:light;
    font-size:18px;
}

.homeflex .flex2{
    /* text-align: right; */
    margin-left: 23%;
}

.slider{
    border: 2px black solid;
    background-color: #1c0a33;
    position: relative;
    color: #FFFFFF;
    top: 130px;
    left: 68px;
    width: 1400px;
    height: 542px;
    border-radius: 20px;
    overflow: hidden;
}
.firstslide h2{
    text-align: center;
    position: relative;
    top: 15px;
}
.firstalumina h3{
    position: relative;
    left: 889px;
    top: 15px;
    color: #FFFFFF;
}
.firstalumina h5{
    position: relative;
    left: 987px;
    top: 10px;
    color: #FFFFFF;
}
.firstslideimg1{
    border: 2px white solid;
    border-radius: 100%;
    background-color: #FFFFFF;
    height: 107px;
    width: 113px;
    position: absolute;
    top: 158px;
    left: 1117px;
}

.firstslideimg1 img{
    height: 76px;
    width: 117px;
    /* position: absolute; */
    /* top: 16px; */
    /* left: -8px; */
    margin-top: 15%;
    margin-left: -8%;
}

.secondalumina h3{
    position: relative;
    left: 386px;
    color: #FFFFFF;
    bottom: 274px;
}
.secondalumina h5{
    position: relative;
    left: 387px;
    color: #FFFFFF;
    bottom: 277px;
}
.firstslideimg2{
    border: 2px white solid;
    border-radius: 100%;
    background-color: #FFFFFF;
    height: 107px;
    width: 113px;
    position: absolute;
    top: 357px;
    left: 238px;
}
.firstslideimg2 img{
    /* border: 2px black solid;
    background-color: #000000; */
    height: 78px;
    width: 102px;
    position: absolute;
    top: 12px;
    left: 3px;
    border-radius: 44px;
}


/* slider  */

/* .slider1{
    height: 400px;
    width: 700px;
    overflow: hidden;
} */


.slider .slider1{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    height: 46px;
    width: 46px;
    cursor: pointer;
}

.slider .slider2{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    height: 46px;
    width: 46px;
    cursor: pointer;
}
.slider span{
    font-size: 35px;
    color: white;
    line-height: 41px;
}

.slider .right{
    right: 20px;
}

.w-100 {
    margin-bottom: -9%;
    height: 81vh;
    width: 100vw;
    margin-top: 10%;
}
#carousel{
    /* align-items: center; */
    /* width: 300px; */
    /* position: relative; */
    
    align-items: center;
    margin: auto;
    /* right: 10px; */
    width: 100%;
    height: 600px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(20, 20, 57);
}
.carouse_heading{
    text-align: center;
    position: relative;
    top: 30px;
    color: white;
}

.carousel .carousel-indicators button {
    border-radius: 50%;
    width: 22px;
    height: 12px;
    carousel-indicator-width : 10px;
    carousel-indicator-height: 10px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 39px;
    width: 91px;
    outline: rgb(255, 255, 255);
    /* background-color: rgba(245, 245, 245, 0.3); */
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 0px solid rgb(246, 246, 246);
}


.carousel__section{
    margin-top: 131px;
    margin-left: 17px;
    height: fit-content;
}
.home__founder__developer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    body{
        overflow-x: hidden;
    }
    .h-primary{
        margin: -6%;
        font-size: 204%;
        margin-left: 19%;
        margin-top: -24%;  
    }
    #home {
        display: flex;
        flex-direction: column;
        height: 74vh;
    }
    .pcontain{
        position: relative;
        margin-top: 30%;
        top: 16%;
        margin-left: -6%;
    }
    .para p{
        font-size: 35px;
    line-height: 8vw;
    margin-top: 32%;
    }

    #carousel{
        margin-top: -37%;
    }



}
@media only screen and (max-width: 820px){
        .homeflex .flex2{
            margin-left: 4%
            ;
        }
}