
*{margin: 0;padding: 0;
box-sizing: border-box;}

@media only screen and (max-width: 992px) {
    
    .signup__Image{
        display: none;
    }


    
    .flexcolor {
            display: flex;
            flex: auto;
            width: 88px;
            height: 1059px;
            flex-wrap: wrap;
            align-content: flex-end;

    }
    
.signup{
  background-repeat: no-repeat;
  background-size: auto;
}
}

.signup{
    background: url("./Image/b1.png" ) no-repeat center center/cover;
    height: 100vh;
}

.accimg__signup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.signinimg{
    background: url("./Image/signin.png" ) no-repeat center center/cover;
}
@media only screen and (max-width: 600px) {
    .signinimg{
        height: 100vh;
    }
  }

form{
    border-radius: 20px;
    border-width: 60px;
}

.container{
    width: 700px;
    height: 30px;
}

#formimg{
width: 372px;
height: 180.95px;
}

form img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
form h2{
    text-align: center;
    color:  #15535B;
    text-shadow: 1px 1px 3px #000000;
}
body {
    overflow-x: hidden;  
  }

.nav-link.active{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: black;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.logout{
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: black;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    cursor: pointer;
}

.dropdownavatar{
    background-color: white;
}

.nav-link.active::after{
    content: "";
    position:absolute;
    background-color: rgb(109, 101, 162);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}
.nav-link.active:hover{
    color: #5144a4;
}
.nav-link.active:hover:after{
    width: 100%;
}

.input-field{
    width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.input-field{
        color: #15535B;
}
.frd{
    display: inline-block;
}

.flex-container {
    display: flex;
  }
#upImage{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    mix-blend-mode: normal;
    height: 73vh;
    width: 73%;

    z-index: 5;
    opacity: 2;
    box-shadow: 2px 0px 6px 7px rgb(0 0 0 / 25%);
    margin-left: -23%;
    margin-top: 4%;
}


::placeholder{
    color: #8ABCC2;
}

.flexcolor{
    color:  #15535B;
    border:2px white solid;
    background-color: white;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #15535B;
    height: 71vh;
    width: 34vw;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-left: 50%;
    
 
}
.imgcontain{
    border: 2px white solid;
}
.btn{
    background-color: #15535B;
    border-color: #15535B;
    justify-content: center;
}
.formc{
    justify-content: center;
}
.butt {
    position: relative;
    top: -16px;
    left: 34%;
    margin-right: 0%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    font-size: 20px;
    width: 130px;
    border-radius: 10px;
}
.click{
    color: #15535B;
    text-decoration-color: #15535B;
}
.click:hover{
    cursor: pointer;
    color: #15535B;
    text-decoration: none;
}
.signup_para{
    text-align: center;
}
.signup_para span{
    color: #15535B;
    text-decoration: none;
}

.d-inline-block {
    display: inline-block!important;
    padding: 1px;
    margin: -16px;
    position: absolute;
    top: 18px;
    right: 288px;
}
.imagelogo{
    display: inline-block!important;
    position: relative;
    top: 7px;
    left: 20px;
}

 
.home__founder__developer{
    display: flex;
    flex-wrap: wrap;
}
#navbarSupportedContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
     .navbar__homeIcon{
        display: none;
     }

     .navbar__items{
        margin-left: 44%;
     }
     .signup__Image{
        display: none;
     }
     .form__mobile {
        width: 52vw;
    border-radius: 3%;
    height: 61vh;
    margin-left: 6%;
    margin-top: 14%;
    }
     .newimg{
        margin-left: 35%;
        margin-bottom: 170%;
        width: 63%;
     }
     .signup__signup{
        margin: 10%;
     }
     
    .mobile__button{
        height: 8%;
        margin-top: 85%;
        margin-right: 29%;
        align-items: center;
        position: relative;
        left: 6%;
        top: -10%;
    }

  }