* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup {
  background: url("./Image/b1.png") no-repeat center center/cover;
  height: 100vh;
}

.accimg__signup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.signinimg {
  background: url("./Image/signin.png") no-repeat center center/cover;
}

form {
  border-radius: 20px;
  border-width: 60px;
}

.container {
  width: 700px;
  height: 30px;
}

#formimg {
  width: 372px;
  height: 180.95px;
}

form img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
form h2 {
  text-align: center;
  color: #15535b;
  text-shadow: 1px 1px 3px #000000;
}
body {
  overflow-x: hidden;
}

.nav-link.active {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
.logout {
  text-decoration: none;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 0 10px;
  cursor: pointer;
}

.dropdownavatar {
  background-color: white;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  background-color: rgb(109, 101, 162);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}
.nav-link.active:hover {
  color: #5144a4;
}
.nav-link.active:hover:after {
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.input-field {
  color: #15535b;
}
.frd {
  display: inline-block;
}

.flex-container {
  display: flex;
}
#upImage {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  mix-blend-mode: normal;
  height: 73vh;
  width: 73%;

  z-index: 5;
  opacity: 2;
  box-shadow: 2px 0px 6px 7px rgb(0 0 0 / 25%);
  margin-left: -23%;
  margin-top: 4%;
}

::placeholder {
  color: #8abcc2;
}

.flexcolor {
  color: #15535b;
  border: 2px white solid;
  background-color: white;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #15535b;
  height: 71vh;
  width: 34vw;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-left: 50%;
}
.imgcontain {
  border: 2px white solid;
}
.btn {
  background-color: #15535b;
  border-color: #15535b;
  justify-content: center;
}
.formc {
  justify-content: center;
}
.butt {
  position: relative;
  top: -16px;
  left: 34%;
  margin-right: 0%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  font-size: 20px;
  width: 130px;
  border-radius: 10px;
}
.click {
  color: #15535b;
  text-decoration-color: #15535b;
}
.click:hover {
  cursor: pointer;
  color: #15535b;
  text-decoration: none;
}
.signup_para {
  text-align: center;
}
.signup_para span {
  color: #15535b;
  text-decoration: none;
}

.d-inline-block {
  display: inline-block !important;
  padding: 1px;
  margin: -16px;
  position: absolute;
  top: 18px;
  right: 288px;
}
.imagelogo {
  display: inline-block !important;
  position: relative;
  top: 7px;
  left: 20px;
  width: 6vw;
    height: 8vh;
}

.home__founder__developer {
  display: flex;
  flex-wrap: wrap;
}
#navbarSupportedContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user__type{
  width: 67%;
}

@media only screen and (min-width: 300px) and (max-width: 896px) {
    /* body{
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    } */
    #upImage{
        /* height: 40vh;
        margin-left: 3vh;
        width: 85vw; */
        display: none;
    }

    .flexcolor{
      margin-left: 4%;
      width: 82vw;
      height: 58vh;
      margin-top: 10%;
      border-radius: 1%;
    }

    .signup{
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .butt1{
        margin-left: -31%;
    }
    .signup_para1{
        margin-left: -31%;
    }
    .imagelogo{
      width: 17vw;
      height: 6vh;
    }
    .formc{
      margin-left: -10%;
    }
    

 
}
